<div class="top-row pl-4 navbar navbar-dark">
  <a class="navbar-brand" href="">Banking System</a>
</div>

<div>
  <ul class="nav flex-column">
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="/clients" Match="NavLinkMatch.All">
        <span class="fa fa-portrait mr-3" aria-hidden="true" /> Clients
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="/deposits" Match="NavLinkMatch.All">
        <span class="fa fa-donate mr-3" aria-hidden="true" /> Deposits
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="/deposit-plans" Match="NavLinkMatch.All">
        <span class="oi oi-dollar" aria-hidden="true" /> Deposit plans
      </NavLink>
    </li>
  </ul>
</div>