<div class="top-row pl-4 navbar navbar-dark">
  <a class="navbar-brand" href="/clients">
    <img src="/images/icon.png" alt="icon" class="d-inline-block align-top mr-2" width="30" />
    Banking System
  </a>
</div>

<div>
  <ul class="nav flex-column">
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="/clients" Match="NavLinkMatch.All">
        <span class="fa fa-portrait mr-3" aria-hidden="true" /> Clients
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="/deposits" Match="NavLinkMatch.All">
        <span class="fa fa-donate mr-3" aria-hidden="true" /> Deposits
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="/credits" Match="NavLinkMatch.All">
        <span class="fa fa-hand-holding-usd mr-3" aria-hidden="true" /> Credits
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="/bank-operations" Match="NavLinkMatch.All">
        <span class="fa fa-receipt mr-3" aria-hidden="true" /> Bank Operations
      </NavLink>
    </li>
  </ul>
</div>
