@page "/atm/{CreditCardNumber}/{Pin}"

@using Services
@using DTOs.ATM
@using Microsoft.Extensions.DependencyInjection

@inject IServiceScopeFactory serviceScopeFactory

@inject NavigationManager NavigationManager

<div class="container-fluid">
  <h1 class="m-5">ATM</h1>
</div>

@code
{
  [Parameter]
  public string CreditCardNumber { get; set; }

  [Parameter]
  public string Pin { get; set; }

  private CreditCardDto creditCard;

  protected override async Task OnParametersSetAsync()
  {
    creditCard = new CreditCardDto { Number = CreditCardNumber, PIN = Pin };
    using var scope = serviceScopeFactory.CreateScope();
    var creditCardsService = scope.ServiceProvider.GetService<CreditCardsService>();
    bool result = await creditCardsService.Authenticate(creditCard);

    if (!result)
    {
      MainLayout.ShowNavBar();
      NavigationManager.NavigateTo("/atm/insert-credit-card");
    }

    await base.OnParametersSetAsync();
  }
}
