@page "/clients"

@using Services
@using DTOs.MaritalStatus
@inject MaritalStatusesService maritalStatusesService

<h1>Clients</h1>

<NavLink class="btn btn-success" href="@link" Match="NavLinkMatch.All">
  Add new client
</NavLink>

@if (_maritalStatuses is not null)
{
  @foreach (var maritalStatus in _maritalStatuses)
  {
    <div>@maritalStatus.Name</div>
    <br />
  }

}
else
{
  <div>Fuck</div>
}

@code
{
  private IReadOnlyList<MaritalStatusDto> _maritalStatuses;
  private string link = $"/client/edit";///{Guid.NewGuid()}";

  protected override async Task OnInitializedAsync()
  {
    _maritalStatuses = (await maritalStatusesService.GetMaritalStatusesAsync()).ToList();

    await base.OnInitializedAsync();
  }
}
