@page "/credits"

@using Services
@using DTOs.Deposit
@using Microsoft.Extensions.DependencyInjection

@inject IServiceScopeFactory serviceScopeFactory

@inject NavigationManager NavigationManager

<div class="container-fluid">
  <div class="d-flex justify-content-between m-5">
    <h1>Credits</h1>
    <NavLink class="btn-lg btn-success p-3" href="#" Match="NavLinkMatch.All">
      Add new credit
    </NavLink>
  </div>

</div>

@code
{

}
